In [1]:
import pandas as pd
import subprocess
import os

import requests
from bs4 import BeautifulSoup

import json

# GITHUB csv data

git clone/pull https://github.com/CSSEGISandData/COVID-19.git

In [2]:

git_pull = subprocess.Popen( "/usr/bin/git pull" , 
                     cwd = os.path.dirname( '../data/raw/COVID-19/' ), 
                     shell = True, 
                     stdout = subprocess.PIPE, 
                     stderr = subprocess.PIPE )
(out, error) = git_pull.communicate()


print("Error : " + str(error)) 
print("out : " + str(out))

Error : b'The system cannot find the path specified.\r\n'
out : b''

In [3]:
data_path='../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
pd_raw=pd.read_csv(data_path)
pd_raw

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/9/20,8/10/20,8/11/20,8/12/20,8/13/20,8/14/20,8/15/20,8/16/20,8/17/20,8/18/20
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,37054,37162,37269,37345,37424,37431,37551,37596,37599,37599
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,6411,6536,6676,6817,6971,7117,7260,7380,7499,7654
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,35160,35712,36204,36699,37187,37664,38133,38583,39025,39444
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,955,963,963,977,981,989,989,989,1005,1005
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1672,1679,1735,1762,1815,1852,1879,1906,1935,1966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,14208,14510,14875,15184,15491,15834,16153,16534,16844,17306
262,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,10
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1804,1832,1831,1841,1847,1858,1858,1869,1882,1889
264,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,8085,8210,8275,8501,8663,9021,9186,9343,9839,9981
265,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,4649,4748,4818,4893,4990,5072,5176,5261,5308,5378